@media screen and (max-width: 1080px) {
    .nav__linkList {
        flex-wrap: wrap
    }
}

@media screen and (max-width: 768px) {
    .section {
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
    .footer {
        flex-direction: column;
        gap: 15px;
    }
}